<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Home {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app_test/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Пользовательские стили для этого шаблона -->
    <link href="{% static 'app_test/css/jumbotron.css' %}" rel="stylesheet">
    <link href="{% static 'app_test/css/my_css.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Link</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled" href="#">Disabled</a>-->
<!--          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/show_slot_catalog_new_data">Show slot catalog DB</a>
              <a class="dropdown-item" href="/show_all_slots_cards">Show all slots-cards</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container mt-5">
        <form id="filterForm" action="{% url 'room' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="searchInput">Поиск по названию:</label>
                <input type="text" class="form-control" id="searchInput" name="searchInput" required>
            </div>

            <div class="form-group">
                <label>Дополнительные опции:</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="option1" name="option1">
                    <label class="form-check-label" for="option1">Опция 1</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="option2" name="option2">
                    <label class="form-check-label" for="option2">Опция 2</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Применить фильтр</button>
            <a href="/show_all_slots_cards" class="btn btn-primary" id="показать-записи">Показать все записи</a>
            <a href="{% url 'index' %}" class="btn btn-primary" id="test_html">Тест Поиска!</a>
        </form>
    </div>

    {% block content %}{% endblock %}

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'app_test/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'app_test/js/popper.min.js' %}"></script>
    <script src="{% static 'app_test/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app_test/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'app_test/js/my_js/filters.js' %}"></script>
    
  </body>
</html>
